{% extends "base.html" %} 
{% block title %}Global{% endblock %} 

<!----------- CONTENT ----------->
{% block content %} 
    <br /> <h1 align="center">Global Notes</h1> <br />

    <!-- Show a list of current global posts! -->
    <ul class="list-group list-group-flush" id="notes">
        {% for gnote in gnotes %}
            <li class="list-group-item" style="background-color: #f5f0e1;">
                User {{gnote.user_id}} : {{gnote.data}}
            </li>
        {% endfor %}  
    </ul>
    
    <!-- only allow user to post to global if they are signed in -->
    {% if user.is_authenticated %}
        <form method="POST">
            <textarea name="globalnote" id="note" class="form-control"></textarea>
            <br />
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note to Global</button>
            </div>
        </form>
    {% else %}
        <p 
            class="lead text-center"
            style="background-color: #ffc13b;" 
        >
            <a href="{{url_for('auth.login')}}"> Log in </a>
            to post globally.
        </p>
    {% endif %}

{% endblock %}
