.bg-almond {background-color: #f5f0e1;}
.bg-orange { background-color: #ff6e40; }
.bg-yellow { background-color: #ffc13b; }
.bg-trans-navy { background-color: #031d36e0; }
.bg-navy { background-color: #1e3d59; }
